<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangenta.data.mapper.QuestionSolutionMapper" >
    <!--<cache />-->
    <resultMap id="baseResultMap" type="com.tangenta.data.pojo.mybatis.QuestionSolution" >
        <result column="question_id" property="questionId" jdbcType="NUMERIC" />
        <result column="solution" property="option" jdbcType="VARCHAR" />
    </resultMap>
</mapper>